body{
    background-color: blueviolet;
    text-align: center;
}

input{
    text-align: center;
    padding: 10px;
    margin: 5px;
    width: 180px;
    height: 100px;
    background-color: rgb(123, 206, 206);
}